.input {
	/* Input base */
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	cursor: pointer;
	white-space: nowrap;
	text-decoration: none;
	font-family: $ff-sans;
	 border: 1px solid #252525;
	 color:white;
	 font-size:20px;
}
