.font-normal-bold{ 
font-style: normal;
font-weight: bold;
line-height: 32px;
letter-spacing: -0.1px;
}

.font-normal-medium{
    font-style: normal;
font-weight: 500;
line-height: 28px;
}

.font-normal-sm{
        font-style: normal;
font-weight: 500;
line-height: 24px;
}

.font-normal-sm-n{
        font-style: normal;
font-weight: normal;
line-height: 24px;
letter-spacing: -0.1px;
}

.font-normal-small{
    font-style: normal;
font-weight: normal;
line-height: 20px;
}

.font-normal-big{
    font-style: normal;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: -0.5px;
}

.font-normal-big-bold{
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.font-normal-sm-b{
    font-style: normal;
font-weight: normal;
line-height: 24px;
letter-spacing: -0.1px;
}



