.txt-color-a {
	color: $primary-color;
}

.txt-color-b {
	color: $secondary-color;
}

.txt-align-c {
	text-align: center;
}

.txt-align-l {
	text-align: left;
}

.txt-align-r {
	text-align: right;
}

.txt-caps {
	text-transform: uppercase;
	letter-spacing: 1px;
}
